* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav-container {
    margin-top: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 845px;
}

.nav-logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    font-weight: lighter;
}

a {
    color: white;
    text-decoration: none;
}

A:hover {
    color: rgb(250, 168, 16);
}

.login {
    margin: 0 20px;
}

.content-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 845px;
    margin: 80px 0;
}

.text-container {
    margin-right: 25px;
}

.main-text {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.text-button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    padding: 4px 20px;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    outline: none;
}

.text-button:hover {
    background-color: white;
    color:rgb(250, 168, 16)
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 35px 0;
}

.img-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 10px 0 50px 0;
}

.img-item {
    border-radius: 20px;
    border: 3px solid #3882F6;
}

.text {
    max-width: 150px;
}

.quote-container {
    background: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-item {
    font-style: italic;
    font-weight: 200;
    margin: 100px 0 0 0;
    width: 700px;
}

.author {
    font-size: 19px;
    width: 700px;
    margin: 15px 0 100px 0;
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
}

.action-container {
    display: flex;
    justify-content: center;
}

.blue-box {
    background: #3882F6;
    color: white;
    border-radius: 10px;
    width: 825px;
    height: 100px;
    margin: 70px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blue-main-text {
    font-size: 20px;
    font-weight: bolder;
}

.blue-text-button {
    background-color: #3882F6;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    padding: 4px 20px;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
}

.blue-text-button:hover {
    background-color: white;
    color:rgb(250, 168, 16)
}

footer {
    height: 75px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}